<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                template="WEB-INF/templates/layout.xhtml">
    
    <ui:param name="" value="ShowCase"/>
    
    <ui:define name="content">

        <h:form id="idForm">

            <center>

                <h:panelGrid columns="3" cellpadding="2">

                    <h:outputLabel id="idOutUsser" value="#{msjs['indexForm.correo']}: (*)"/>
                    <h:inputText id="idInputUsser" value="#{usuario.usuario}">
                        <f:validator validatorId="emailValidator"/>
                    </h:inputText>
                    <h:message for="idInputUsser" style="color: red"/>

                    <h:outputLabel id="idOutPassword" value="#{msjs['indexForm.contrasenia']}: (*)"/>
                    <h:inputSecret id="idInputPassword" value = "#{usuario.password}" requiredMessage="Campo requerido"/>
                    <h:outputLabel value=""/>

                </h:panelGrid>

                <h:commandButton value="#{msjs['indexForm.btn.iniciarSession']}" action="#{indexBean.procesar()}">
                    <f:ajax render="@form" event="action" execute="@form"></f:ajax>
                </h:commandButton>
                <c:forEach items="#{indexBean.errores}" var="error">
                    <br/><h:outputLabel value="* #{error}" style="color: red"/>                
                </c:forEach>
            </center>
        </h:form>

    </ui:define>

</ui:composition>

