<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                template="WEB-INF/templates/layout.xhtml">

    <ui:param name="" value="ShowCase"/>

    <ui:define name="content">

        <h:form>

            <h1>#{msjs['indexForm.label.libro']}</h1>
            <h2>#{msjs['indexForm.label.formularioRegistro']}</h2>

            <h:panelGrid columns="3" cellpadding="2">

                <h:outputLabel id="idOutIsbn" value="#{msjs['indexForm.label.isbn']}:"/>
                <h:inputText id="idInputIsbn" value="#{libro.isbn}"></h:inputText>
                <h:outputLabel value=""/>

                <h:outputLabel id="idOutAutor" value="#{msjs['indexForm.label.autor']}: (*)"/>
                <h:inputText id="idInputAutor" value="#{libro.autor}">
                    <f:validator validatorId="autorValidator"/>
                </h:inputText>
                <h:message for="idInputAutor" style="color: red"/>
                <h:outputLabel id="idOutGenero" value="#{msjs['indexForm.label.genero']}: (*)"/>
                <h:inputText id="idInputGenero" value="#{libro.genero}">
                    <f:validator validatorId="generoValidator"/>
                </h:inputText>
                <h:message for="idInputGenero" style="color: red"/>

                <h:outputLabel id="idOutIdioma" value="#{msjs['indexForm.label.idioma']}: (*)"/>
                <h:inputText id="idInputIdioma" value="#{libro.idioma}">
                    <f:validator validatorId="idiomaValidator"/>
                </h:inputText>
                <h:message for="idInputIdioma" style="color: red"/>

                <h:outputLabel id="idOutAnio" value="#{msjs['indexForm.label.anioPublicacion']}:"/>
                <h:inputText id="idInputAnio" value="#{libro.anioPublicacion}"></h:inputText>
                <h:outputLabel value=""/>

                <h:outputLabel id="idOutPais" value="#{msjs['indexForm.label.paisPublicacion']}:"/>
                <h:selectOneMenu value="#{libro.paisPublicacion}">
                    <f:selectItem itemValue="" itemLabel="-- Seleccione --"/>
                    <f:selectItem itemValue="BOLIVIA" itemLabel="Bolivia"/>
                    <f:selectItem itemValue="CHILE" itemLabel="Chile"/>
                    <f:selectItem itemValue="PERU" itemLabel="Peru"/>
                    <f:selectItem itemValue="BRASIL" itemLabel="Brasil"/>
                    <f:selectItem itemValue="ARGENTINA" itemLabel="Argentina"/>
                </h:selectOneMenu>
                <h:outputLabel value=""/>

            </h:panelGrid>
            <br/>
            <h:commandButton value="#{msjs['indexForm.btn.registrar']}" action="#{indexBean.procesarRegistro()}"/>
            <h:button value="#{msjs['indexForm.btn.salir']}" outcome="index"></h:button>
            <br/>
            <br/>
            <h:commandButton value="#{msjs['indexForm.btn.cambiarIdiomaIngles']}" action="#{indexBean.cambiarIdiomaIngles()}"/>
            <h:commandButton value="#{msjs['indexForm.btn.cambiarIdiomaFrances']}" action="#{indexBean.cambiarIdiomaFrances()}"/>
            <h:commandButton value="#{msjs['indexForm.btn.cambiarIdiomaEspaniol']}" action="#{indexBean.cambiarIdiomaEspaniol()}"/>
            <br/>
            <c:forEach items="#{indexBean.erroresRegistro}" var="error">
                <br/><h:outputLabel value="* #{error}" style="color: red"/>                
            </c:forEach>

            <br/><h:outputLabel value="* #{indexBean.success}" style="color: green"/>                
        </h:form>

    </ui:define>

</ui:composition>



